export(navreport_html)
export(fn_nav)
export(fn_menu)
export(fn_submenu)
export(fn_item)
export(fn_page)
export(fn_text)
export(fn_hc)
export(fn_gg)
export(fn_plotly)
export(fn_chart_picker)
export(fn_text_chart)
export(fn_callout)
export(fn_kpi_row)
export(fn_kpi)
importFrom(htmltools, tags, tag, div, span, HTML, tagList, browsable, attachDependencies)
importFrom(jsonlite, toJSON, fromJSON)
importFrom(rmarkdown, html_document, includes, output_format)
importFrom(knitr, knit_child)
